<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=”stylesheet” href="./style.css">
    <style>
        body{
            box-sizing: border-box;
            width: auto;
            height: 100%;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border: thick double #32a1ce;
            padding: 10px;
            padding-bottom: 20px;
            line-height: 35px;
        }
        .link{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            line-height: 35px;

        }
    </style>
</head>
<body>
    <form method="post" action="/alter-password">
        <h1> Changez votre mot de passe</h1>
        <label name="mdp"> Entrer le mot de passe </label>
        <input type= "text" name="mdp">
        <label name="confirm-mdp"> Confirmer le mot de passe  </label>
        <input type= "text" name="confirm-mdp">
        <input type= hidden name="id" >
        <input type="submit" value="submit">
    </form>
</body>
</html>