<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            box-sizing: border-box;
            width: auto;
            height: 100%;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border: thick double #32a1ce;
            padding: 10px;
            padding-bottom: 20px;
            line-height: 35px;
        }
        .link{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            line-height: 35px;

        }
    </style>
</head>
<body>
    <form method="post" action="/reset-password">
        <h1> Mot de passe oublié ?</h1>
        <p>Entrez votre email pour le changer</p>
        <label name="mail"> </label>
        <input type= "text" name="mail">
        <input type="submit" value="submit">
    </form>
</body>
</html>