<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=”stylesheet” href="./style.css">
    <style>
        body{
            box-sizing: border-box;
            width: auto;
            height: 100%;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border: thick double #32a1ce;
            padding: 10px;
            padding-bottom: 20px;
            line-height: 35px;
        }
        .link{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            line-height: 35px;

        }
    </style>
</head>
<body>
    <form method="post" action="/login">
        <h1> Connectez-vous</h1>
        <label name="email"> Entrez votre email </label>
        <input type= "text" name="email">
        <label name="password"> Entrez votre password </label>
        <input type= "text" name="password">
        <input type="submit" value="submit">
    </form>
    <div class="link">
        <a href="./signup"> Créer un compte</a>
        <a href="./forgotten-password"> Mot de passe oublié ?</a>    
    </div>
    
    
</body>
</html>