<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            box-sizing: border-box;
            width: auto;
        }
        h1{
            text-align: center;
        }
        .liste{
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px;
        }
        ol{
            font-size: 18px;
            border: thick double #32a1ce;
            text-align: center;
        }
        ul{
            line-height: 35px;
        }
        a{
            position: absolute;
            left: 200px;
        }
    </style>
<body>
    <h1> Liste des membres du "Spectre"</h1>
    <div class="liste">
        <ol>
            <%for(const user of usersList){%>
                <ul><%=user.email%></ul>
            <%}%>
        </ol>    
    </div>
    <a href="./signin"> Deconnexion</a>

</body>



